name: self-service-call-payload-pr

on:
  repository_dispatch:

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write
  repository-projects: write

#need to add below permission in Setting 

jobs:
  Changing-the_stuffs:
    #if: ${{ !github.event.client_payload.passed }}
    runs-on: ubuntu-latest
    steps:
      - env:
          repository: ${{ github.event.client_payload.repository }}
        run: echo $repository
      - env:
          workspace_name: ${{ github.event.client_payload.workspace_name }}
        run: echo $workspace_name
      - env:
          resource_group_name: ${{ github.event.client_payload.resource_group_name }}
        run: echo $resource_group_name
      - env:
          storage_account_name: ${{ github.event.client_payload.storage_account_name }}
        run: echo $storage_account_name

      - uses: actions/checkout@v3



      - name: writing backend
        shell: pwsh
        run: |
          # Invoke-Pester main.tf -Passthru
          Write-Host "before changing"
          cat main.tf
          $TF_FILE_PATH ='main.tf'
          Write-Host "TF_FILE_PATH:->"
          Write-Host $TF_FILE_PATH
          $REPLACE_CONTENT = 'workspace_name_here'
          $REPLACE_WITH_CONTENT = "${{ github.event.client_payload.workspace_name }}"
          ((Get-Content -path $TF_FILE_PATH -Raw) -replace $REPLACE_CONTENT, $REPLACE_WITH_CONTENT) | Set-Content -Path $TF_FILE_PATH
          Write-Host "after changing"
          Write-Host "------------------------------------------------------------------------------"
          cat main.tf

      - name: Adding tfvars
        run: |
          pwd
          ls -l
          echo "resource_group_name = '${{ github.event.client_payload.resource_group_name }}'" >> input.tfvars
          echo "storage_account_name = '${{ github.event.client_payload.storage_account_name }}'" >> input.tfvars
          cat input.tfvars
      
      # - name: Creating branch
      #   run: |
      #     git config --global user.email "Workflow@githubactions.com"
      #     git config --global user.name "Github actions"
      #     git checkout -b "release/${{  github.run_number }}_${{ github.run_attempt }}"
      #     git add main.tf input.tfvars
      #     git commit -m "Added backend and tfvars"
      #     git push --set-upstream origin "release/${{  github.run_number }}_${{ github.run_attempt }}"

      # - name: Create PR
      #   #if: startsWith(github.ref, 'refs/heads/feature')
      #   uses: devops-infra/action-pull-request@v0.5.5
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     title: ${{ github.event.commits[0].message }}
      #     assignee: ${{ github.actor }}
      #     label: automatic,feature
      #     # template: .github/PULL_REQUEST_TEMPLATE/FEATURE.md
      #     old_string: "**Write you description here**"
      #     new_string: ${{ github.event.commits[0].message }}
      #     get_diff: true
      #     target_branch: main

    # https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs

      - name: Create commits
        run: |
          git config user.name 'Peter Evans'
          git config user.email 'peter-evans@users.noreply.github.com'
          date +%s > report.txt
          git commit -am "Modify tracked file during workflow"
          date +%s > new-report.txt
          git add -A
          git commit -m "Add untracked file during workflow"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: main2
        