cloud {
    organization = "Cloudtech"

    workspaces {
      name = "{{ workspace_name }}"
    }
  }
}

# resource "azurerm_resource_group" "rg" {
#   name     = "{{ resource_group_name }}"
#   location = "{{ location }}"
# }

{{ location}}

{{ dict_only }}