#sample



---seee----
{{ data['loclist'][test] }}
-----see----


{% set data = {
    'loclist': {

        'us2': 'US east2',
        'in': 'india',
        'eu': 'europe'

    }
} %}
{% set test = lockey %}