{% set data = {
    'loclist': {
        'ue2': 'eastus2',
        'uc': 'centralus',
        'euw': 'westeurope',
        'eun': 'northeurope',
        'cac': 'canadacentral',
        'cae': 'canadaeast',
        'aue': 'australiaeast',
        'ause': 'australiasoutheast'
    }
} %}
{% set loca = lockey %}


---seee----
{{ data['loclist'][loca] }}
-----see----


