{% set datashort = {
    'list': {
        'United States': 'ue2',
        'uc': 'centralus',
        'euw': 'westeurope',
        'eun': 'northeurope',
        'cac': 'canadacentral',
        'cae': 'canadaeast',
        'aue': 'australiaeast',
        'ause': 'australiasoutheast'
    }
} %}
{% set datalong = {
    'list': {
        'United States': 'eastus2',
        'uc': 'centralus',
        'euw': 'westeurope',
        'eun': 'northeurope',
        'cac': 'canadacentral',
        'cae': 'canadaeast',
        'aue': 'australiaeast',
        'ause': 'australiasoutheast'
    }
} %}
{% set loc = lockey %}
---seee----
{{ datalong['list'][loc] }}

{{ datashort['list'][loc] }}
-----see----


